DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Neha2004##
DB_NAME=gourmetgo_db
JWT_SECRET=gourmetgo_secret_key_change_in_prod
PORT=5000
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@christuniversity.in
ADMIN_PASSWORD=admin2024
